:root {
    --border: 3px;
    --color1: #6be89b;
    --color2: #0076a5;
    --from: 30deg;
    --distance: 46%;
}

body {
    background: #33353d;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    padding: 30px;
}

.container::after {
    content: '';
    border-radius: 999px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--from),
            var(--color1),
            var(--color2) var(--distance),
            transparent var(--distance));
    -webkit-mask: radial-gradient(farthest-side,
            transparent calc(100% - var(--border)),
            #fff calc(100% - var(--border) + 1px));
    mask: radial-gradient(farthest-side,
            transparent calc(100% - var(--border)),
            #fff calc(100% - var(--border) + 1px));
}

img {
    border-radius: 999px;
    display: block;
}