# IDEA files
/.idea/
/out/


.vscode/
/.settings/
.gitignore
/*.iml

#Duke tasklist
duke.txt

.project

# Class files
*.class

*.classpath

#.Project
*.project

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
