# IDEA files
/.idea/
/out/
/*.iml

# VSCode files
/.vscode/

# Gradle build files
/.gradle/
/text-ui-test/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Text-ui-test artifacts
/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

# Save files
save-data/
