.root {
    -fx-background-color: #383838;
    -fx-font-size: 10pt;
}

.right-label {
    -fx-text-fill: black;
    -fx-background-color: black;
    -fx-shape: "M33.468,67.184C15.014,67.184,0,52.17,0,33.715S15.014,0.246,33.468,0.246c18.455,0,33.469,15.014,33.469,33.469 c0,5.621-1.421,11.161-4.116,16.076l4.608,17.2L50.58,62.475C45.408,65.559,39.511,67.184,33.468,67.184z M33.468,4.246 C17.219,4.246,4,17.466,4,33.715s13.219,29.469,29.468,29.469c5.582,0,11.021-1.574,15.729-4.554l0.74-0.468l11.835,3.171 l-3.243-12.1l0.419-0.72c2.609-4.484,3.988-9.602,3.988-14.799C62.936,17.466,49.717,4.246,33.468,4.246z";
    -fx-background-insets: 0,1;
    -fx-padding: 50;
}

.left-label {
    -fx-text-fill: black;
    -fx-background-color: black;
    -fx-shape: "M0,70.982l8.777-17.175c-4.05-5.765-6.184-12.518-6.184-19.612C2.593,15.34,17.933,0,36.789,0 c18.854,0,34.194,15.34,34.194,34.196c0,18.854-15.34,34.194-34.194,34.194c-7.096,0-13.849-2.134-19.612-6.183L0,70.982z M17.57,57.514l1,0.759c5.278,4.002,11.579,6.117,18.218,6.117c16.649,0,30.194-13.545,30.194-30.194 C66.982,17.546,53.437,4,36.788,4C20.138,4,6.592,17.545,6.592,34.195c0,6.639,2.116,12.938,6.119,18.219l0.758,1l-4.284,8.385 L17.57,57.514z";
    -fx-background-insets: 0,1;
    -fx-padding: 50;
}











