#sendButton {
    -fx-background-image: url("/images/crossedSword.png");
    -fx-border-color: rosybrown;
    -fx-background-position: center;
    -fx-background-size: cover;
}

#dialog {
    -fx-background-radius: 80px;
    -fx-border-radius:80px;
    -fx-border-color: black;
    -fx-background-color: aliceblue;
    -fx-padding: 30px;
}

#dialogContainer {
    -fx-background-image: url("/images/dungeonBG.png");
    -fx-background-position: center;
    -fx-background-size: contain;
}

#imageView {
    -fx-background-color: transparent;
}

#userInput {
    -fx-background-color: papayawhip;
    -fx-border-color: rosybrown;
}

