.background {
    /* -fx-background-image: url("/images/background1.jpeg"); A8DCD9*/
    -fx-background-color: "A2D9FF";
    -fx-background-size: contain;
}

.genie-dialog {
    -fx-background-color: F7F5EB;
    -fx-background-radius: 20;
}
.user-dialog {
     -fx-background-color: EEE3CB;
     -fx-background-radius: 20;
 }
.user-textField {
    -fx-padding: 2 15 2 15;
    -fx-background-radius: 20;
}