name: Test CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          java-package: jdk+fx

      - name: Setup and test with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test
